<div class="flex-container-horizontal">

    <!-- Title element -->

    <div class="title-block">

        <div class="marquee-container">
            <ul class="marquee">
                <li>Commentary Tool</li>
                <li>
                    <%= data1.field %>
                </li>
                <li>
                    <%= data1.division %>
                </li>
                <li>
                    <%= data1.gameStatus %>
                </li>
            </ul>

            <!-- Mirrors the content above -->
            <ul class="marquee marquee2" aria-hidden="true">
                <li>Commentary Tool</li>
                <li>
                    <%= data1.field %>
                </li>
                <li>
                    <%= data1.division %>
                </li>
                <li>
                    <%= data1.gameStatus %>
                </li>
            </ul>
        </div>
    </div>

    <!-- Live element -->
    <div class="panel live-block">

        <div class="live-flex-container">
            <div class="live-dot">
                <div class="blob red"></div>
            </div>

            <div class="live-text">
                <p>Live</p>
            </div>
        </div>
    </div>