<div class="flex-container-horizontal">

    <!-- Title element -->

    <div class="title-block">

        <section class="marquee">
            <p>
                <span>
                    Commentary Tool • <%= data1.field %> • <%= data1.division %> • <%= data1.gameStatus %> •
                </span>
                <span aria-hidden>
                    Commentary Tool • <%= data1.field %> • <%= data1.division %> • <%= data1.gameStatus %> •
                </span>
                <span aria-hidden>
                    Commentary Tool • <%= data1.field %> • <%= data1.division %> • <%= data1.gameStatus %> •
                </span>
                <span aria-hidden>
                    Commentary Tool • <%= data1.field %> • <%= data1.division %> • <%= data1.gameStatus %> •
                </span>
                <span aria-hidden>
                    Commentary Tool • <%= data1.field %> • <%= data1.division %> • <%= data1.gameStatus %> •
                </span>
            </p>
        </section>
    </div>


    <!-- Live element -->
    <div class="panel live-block">

        <div class="live-flex-container">
            <div class="live-dot">
                <div class="blob red"></div>
            </div>

            <div class="live-text">
                <p>Live</p>
            </div>
        </div>
    </div>
</div>