<div class="flex-container-horizontal">

    <!-- Title element -->

    <div class="title-block">

        <div class="marquee-container">
            <div id="marquee">
                <div id="m1">
                    <ul>
                        <li>Commentary Tool - <%= data1.field %> - <%= data1.division %> - <%= data1.gameStatus %></li>
                    </ul>
                </div>
                <div id="m2">
                    <ul>
                        <li>Commentary Tool - <%= data1.field %> - <%= data1.division %> - <%= data1.gameStatus %></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Live element -->
    <div class="panel live-block">

        <div class="live-flex-container">
            <div class="live-dot">
                <div class="blob red"></div>
            </div>

            <div class="live-text">
                <p>Live</p>
            </div>
        </div>
    </div>