<div class="team1-players-wrapper players-wrapper">
    <div class="team1-players-wrapper players-wrapper">
        <h4 class="team-name">
            <%= data1.team2Name %>
        </h4>
        <div class="goal-indicators">
            <p class="goals">Goals</p>
            <p class="assists">Assists</p>
            <p class="blocks">Blocks</p>
            <p class="turnovers">Turnovers</p>
        </div>

        <% data1.team2Players.forEach(player=> { %> <%# Player card %>
            <article id="<%= player.playerId %>" class="player-line">
                <div class="player-info">
                    <p class="jersey-number"> <%= player.jerseyNumber %>.</p>
                    <p class="player-text"><%= player.name %></p>
                    <div class="score-indicators">
                        <div class="score-indicator yellow-dot"></div>
                        <div class="score-indicator blue-dot"></div>
                        <div class="score-indicator black-dot"></div>
                        <div class="score-indicator grey-dot"></div>
                    </div>
                </div>
                <div class="line"></div>
            </article>
            <% }) %>
            

            <% data1.team2Players.slice(-5).forEach(player=> { %> <%# Player card %>
                <article id="<%= player.playerId %>" class="player-line">
                    <div class="player-info">
                        <p class="jersey-number"> <%= player.jerseyNumber %>.</p>
                        <p class="player-text"><%= player.name %></p>
                        <div class="score-indicators">
                            <div class="score-indicator yellow-dot"></div>
                            <div class="score-indicator blue-dot"></div>
                            <div class="score-indicator black-dot"></div>
                            <div class="score-indicator grey-dot"></div>
                        </div>
                    </div>
                    <div class="line"></div>
                </article>
                <% }) %>
                    
    </div>