<div class="flex-container-vertical">
    
    <!-- Score list element -->
    <div class="panel score-list-block">

        <div class="score-list-container">
            <div class="points-team-1">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>PASS</th>
                            <th>TURN</th>
                            <th>o/d</th>
                        </tr>
                    </thead>
                    <tbody>

                        <%# Point item team 1 %> <%# Hier moet een if statement komen waar een verschil wordt gezien tussen de puntentelling. Wanneer een team een punt krijgt moet dat team een groene kleur krijgen in de tabel. Het andere team rood. Daarboven op moet de kleur aangepast worden aan de hand van de team1OorD. %>
                        <% data2.scoredPoints.forEach(point => { %>
                            <% if (point.scored === point.team1Name) { %>
                                <% if (point.team1OorD === "O") { %>
                                    <tr class="score-info-team-1">
                                        <td><%= point.team1Passes %></td>
                                        <td><%= point.team1Turnovers %></td>
                                        <td><span class="dark-green"><%= point.team1OorD %></span></td>
                                    </tr>
                                <% } else {%>
                                    <tr class="score-info-team-1">
                                        <td><%= point.team1Passes %></td>
                                        <td><%= point.team1Turnovers %></td>
                                        <td><span class="green"><%= point.team1OorD %></span></td>
                                    </tr>
                                <% } %>
                            <% } else { %>
                                <% if (point.team1OorD === "D") { %>
                                    <tr class="score-info-team-1">
                                        <td><%= point.team1Passes %></td>
                                        <td><%= point.team1Turnovers %></td>
                                        <td><span class="dark-red"><%= point.team1OorD %></span></td>
                                    </tr>
                                <% } else {%>
                                    <tr class="score-info-team-1">
                                        <td><%= point.team1Passes %></td>
                                        <td><%= point.team1Turnovers %></td>
                                        <td><span class="red"><%= point.team1OorD %></span></td>
                                    </tr>
                                <% } %>
                             <% } %>
                        <% }) %>
                                
                    </tbody>
                </table>
            </div>
            <div class="score-points">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th class="extra-margin-table"></th>
                        </tr>
                    </thead>
                    <tbody>

                        <%# Score %>
                        <tr>
                            <% data2.scoredPoints.forEach(point => { %>
                                <tr>
                                    <td><%= point.team1Score %> - <%= point.team2Score %></td>
                                </tr>
                            <% }) %>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="points-team-2">
                <table cellspacing="0" cellpadding="0" class="right">
                    <thead>
                        <tr>
                            <th>o/d</th>
                            <th>TURN</th>
                            <th>PASS</th>
                        </tr>
                    </thead>
                <tbody>

                    <%# Point item team 2 %> 
                    <% data2.scoredPoints.forEach(point => { %>
                        <% if (point.scored === point.team2Name) { %>
                            <% if (point.team2OorD === "O") { %>
                                <tr class="score-info-team-2">
                                    <td><span class="dark-green"><%= point.team1OorD %></span></td>
                                    <td><%= point.team2Turnovers %></td>
                                    <td><%= point.team2Passes %></td>
                                </tr>
                            <% } else {%>
                                <tr class="score-info-team-2">
                                    <td><span class="green"><%= point.team1OorD %></span></td>
                                    <td><%= point.team2Turnovers %></td>
                                    <td><%= point.team2Passes  %></td>
                                </tr>
                            <% } %>
                            <% } else { %>
                                <% if (point.team2OorD === "D") { %>
                                    <tr class="score-info-team-2">
                                        <td><span class="dark-red"><%= point.team1OorD %></span></td>
                                        <td><%= point.team2Turnovers %></td>
                                        <td><%= point.team2Passes  %></td>
                                    </tr>
                                <% } else {%>
                                    <tr class="score-info-team-2">
                                        <td><span class="red"><%= point.team1OorD %></span></td>
                                        <td><%= point.team2Turnovers %></td>
                                        <td><%= point.team2Passes  %></td>
                                    </tr>
                                <% } %>
                            <% } %>
                        <% }) %>

                    </tbody>
                </table>
            </div>
        </div>
        <p class="plus-button"><i id="plus-button" class="fa fa fa-plus" aria-hidden="true"></i></p>
    </div>

    <!-- Quote block -->
    <div id="quote-block" class="panel quote-block">
        <i id="min-button" class="fa fa-minus min-button" aria-hidden="true"></i>
        <p class="quote"><span>“</span>Beau Kitredge is a writer for Skyd Magazine, an author of five children's books, an ambassador for an organization<span>”</span></p>
    </div>
</div>