<%- include('./partials/head') %>

    <main>
        <div class="background-container">
            <div class="team-grid">
                <div class="panel team-list">
                    <div class="team-header">
                        <h4 class="team-players-title">Teams</h4>
                        <div class="team-players-add-container">
                            <p><span class="team-player-add-button"><i class="fa fa-plus" aria-hidden="true"></i> New team</span></p>
                        </div>
                    </div>
                    <div class="teams-container scroll-container">
                        <% for (var i = 0; i < 100; i++) { %>
                            <article class="team-line flex-container-horizontal">
                                <p class="team-line-id jersey-number"><%= data1.team1TeamId %>.</p>
                                <p class="team-line-name"><%= data1.team1Name %></p>
                                <p class="team-line-options">View</p>
                            </article>
                            <article class="team-line flex-container-horizontal">
                                <p class="team-line-id jersey-number"><%= data1.team2TeamId %>.</p>
                                <p class="team-line-name"><%= data1.team2Name %></p>
                                <p class="team-line-options"><span>View</span></p>
                            </article>
                          <% } %>
                    </div>
                </div>
                <div class="panel team-info">
                    <div class="flex-container-horizontal">
                        <div class="team-info-box">
                            <h1><%= data1.team1Name %></h1>
                            <ul>
                                <li>Team id: <%= data1.team1TeamId %></li>
                                <li>Country: <%= data1.team1CountryName %> (<%= data1.team1CountryISO3Code %>)</li>
                            </ul>
                        </div>
                        <div class="team-info-box conter-content">
                            <span>Win-loss ratio:</span>
                            <p>78%</p>
                        </div>
                        <div class="team-info-box conter-content">
                            <span>Games won:</span>
                            <p>14</p>
                        </div>
                        <div class="team-info-box conter-content">
                            <span>Team size:</span>
                            <% let numPlayers = data4.players.length %>
                            <p><%= numPlayers %></p>
                        </div>
                    </div>
                </div>
                <div class="panel team-players">
                    <div class="team-header">
                        <h4 class="team-players-title">Players</h4>
                        <div class="team-players-add-container">
                            <p><span class="team-player-add-button"><i class="fa fa-plus" aria-hidden="true"></i> New player</span></p>
                        </div>
                    </div>

                    <div class="team-players-container scroll-container">
                        <% data4.players.forEach(player => { %> <%# Player card %>
                            <article id="<%= player.playerId %>" class="player-line">
                                <div class="player-info">
                                    <p class="jersey-number"><%= player.jerseyNumber %>.</p>
                                    <p class="player-text"><%= player.name %></p>
                                    <p><%= player.gender.length > 2 ? '' : player.gender %></p>
                                </div>
                                <div class="line"></div>
                            </article>
                        <% }) %>
                    </div>
                </div>
                <div class="panel team-details">
                    <div class="team-club-container">
                        <img class="team-club-image" src="/static/img/empire_logo.png">
                    </div>
                </div>
                <div class="panel past-games">
                    <h4>Game history</h4>
                    <div class="scroll-container">
                        <article class="win past-game flex-container-horizontal">
                            <p class="past-game-name"><%= data1.field %> <%= data1.gameStatus %> <%= data1.division %></p>
                            <p class="past-game-score">14-9</p>
                        </article>
                        <article class="win past-game flex-container-horizontal">
                            <p class="past-game-name"><%= data1.field %> <%= data1.gameStatus %> <%= data1.division %></p>
                            <p class="past-game-score">14-11</p>
                        </article>
                        <article class="loss past-game flex-container-horizontal">
                            <p class="past-game-name"><%= data1.field %> <%= data1.gameStatus %> <%= data1.division %></p>
                            <p class="past-game-score">10-14</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <aside>
        <%- include('./partials/sidebar') %>
    </aside>

    <%- include('./partials/foot') %>
